certifi>=2024.0.0
customtkinter==5.2.2
pillow>=10.2.0
pyperclip==1.8.2
watchdog==3.0.0
keyboard==0.13.5
pynput==1.7.6
pywin32>=306; sys_platform == 'win32'
windnd; sys_platform == 'win32'
tkinterdnd2>=0.3.0
imageio>=2.33.0
imageio-ffmpeg>=0.4.9
pyobjc-framework-Cocoa>=10.0; sys_platform == 'darwin'
pyobjc-framework-Quartz>=10.0; sys_platform == 'darwin'
pyobjc-framework-ApplicationServices>=10.0; sys_platform == 'darwin'
